body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 90vh;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    color: white;
}

.display {
    display: flex;
    flex-direction: row-reverse;
    border-bottom: 2px solid #777;
    padding-bottom: 8px;
    padding-right: 8px;
    width: 210px;
}

.btn {
    width: 50px;
    height: 50px;
    margin-top: 8px;
    background-color: #444;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    transition: 0.1s;
}

.btn:hover{
    background-color: #555;
    color: white;
}

#clear {
    background-color: #ff8b8b;
    color: #222;
    transition: 0.1s;
}

#clear:hover{
    background-color: #ffaaaa;
    color: #222;
}

#zero {
    width: 106px;
}

.operations {
    background-color: #ccc;
    color: #222;
    transition: 0.2s;
}

.operations:hover {
    background-color: white;
    color: #000;
}

.operations.selected {
    background-color: rgb(139, 227, 139);
    color: #000;
    cursor: default;
}

.operations.selected:hover {
    background-color: rgb(139, 227, 139);
    color: #000;
}

.btnClick {
    opacity: 80%;
}